<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.jpg">
                Définir un nouveau mot de passe
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p>
                Un email de validation vient de vous être envoyé

                Vérifiez votre boîte de réception ainsi que votre dossier spam. Pour définir un nouveau mot de passe, cliquez sur le lien dans l'email et suivez le parcours proposé.
            </p>
        </div>
    </div>
</div>
